{% extends 'base.html' %}
{% block font_css %} {% endblock font_css %}
{% block title %} edit choice {% endblock title %}
{% block content %}
<div class="container">
    <h1>You're trying to delete 
    {% if poll %}    
        poll: {{poll.text}}
    {% else %}
        choice: {{choice.choice_text}}</h1>
    {% endif %}
    <form class="" action="" method="post">
    {% csrf_token %} 
    <input class="btn btn-danger" type="submit" value="Confirm {% if poll %}poll{% else %}choice{% endif %} delete">
    </form>
</div>


{% endblock content %}